{% extends "base.html" %}
{% load static %}


{% block scripts %}
  <script src="{% static 'quizes/main.js' %}" defer>

  </script>
{% endblock scripts %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<div class="container">
    <br class="row pt-4">
        <h1>Quiz List</h1>
        <hr>
        <ol>
          {% for quiz in quizes %}
            <li><h4 class="">{{ quiz.name }}</h4>
          <span>
            <!-- Button trigger modal -->  
            <button 
              type="button" 
              class="btn btn-primary modal-button"
              data-bs-toggle="modal" 
              data-bs-target="#quizStartModal" 
              data-pk="{{quiz.pk}}"
              data-quiz="{{quiz.name}}"
              data-questions="{{quiz.number_of_questions}}"
              data-difficulty="{{quiz.difficulty}}"
              data-time="{{quiz.time}}"
              data-pass="{{quiz.required_score_to_pass}}">
                Hacer quiz
            </button>
          </span>
          </li>
          <br>
          {% endfor %}
          {% include "quizes/modal.html" %}
        </ol>
</div>


{% endblock content %}