<div class="card my-3 mx-3 bg-dark border-light">
  <div class="card-body">
    <h1 class="card-title text-light display-3">{{question.text}}:</h1>
    <div class="container">
      <div class="row ">
        <div class="col btn-group btn-group-toggle my-5" data-toggle="buttons">
        {% for answer in question.get_answer %}
        
        <input class="ans btn-check" type="radio" value="{{answer.pk}}" name="{{question.pk}}" id="{{question.pk}}-{{answer.pk}}" autocomplete="off">
          <label class="ans btn btn-outline-success btn-lg  text-light" autocomplete="off" for="{{question.pk}}-{{answer.pk}}">
          {{answer.text}}
          </label>        
        {% endfor %}
      </div>
      </div>
    </div>
  </div>
</div>

