{% extends "base.html" %}

{% load static %}

{% block scripts %}
  <script src="{% static 'quizes/quiz_data.js' %}" defer>

  </script>
{% endblock scripts %}

{% block title %}
{{quiz.name}}
{% endblock title %}

{% block content %}
<h2>{{quiz.name}}</h2>
<hr>
<form action="" id="quiz-form" class="mt-3 mb-3">
  {% csrf_token %}
{% for question in quiz.get_questions%}
    <h6>{{question.text}}:</h6>
    {% for answer in question.get_answer %}
    <div class="form-check">
      <input class="form-check-input" type="radio" value="{{answer.text}}" name="{{question.text}}" id="{{question.text}}-{{answer.text}}">
      <label class="form-check-label" for="{{question.text}}">
      {{answer.text}}
      </label>
    </div>
    {% endfor %}
    <br>
  <hr>
{% endfor %}
<button type="submit" class="btn btn-primary mt-3">Guardar</button>
</form>
{% endblock content %}