{% extends "base.html" %}

{% load static %}

{% block scripts %}
  <script src="{% static 'quizes/quiz_data.js' %}" defer>

  </script>

{% endblock scripts %}

{% block title %}
{{quiz.name}}
{% endblock title %}

{% block content %}

{% block container %}
    <div class="container">
        <div class="row pt-4 pricing-header p-3 pb-md-4 mx-auto text-center h-80" >
          <h2 class="display-5 fw-bold">{{quiz.name}}</h2>
          <hr>
          <div class="d-flex justify-content-center">
          <form action="" id="quiz-form" class="mt-3 mb-3 container" method="POST" enctype="multipart/form-data" name="{{quiz.name}}" data-n_of_questions={{quiz.number_of_questions}}>
            {% csrf_token %}            
            {% for question in quiz.get_questions%}

              {% include "quizes/question.html" %}

            {% endfor %}

            <button type="submit" 
            class="btn btn-primary mt-3 modal-button"
            data-bs-toggle="modal" 
            data-bs-target="#quizStartModal">Guardar</button>
          </form>
          <b></b>
          </div>
          
        </div>
    </div>
    
{% endblock container %}
{% include "quizes/modal.html" %}

{% endblock content %}

