{% extends "base.html" %}

 {% block title %}
    Login Page
 {% endblock %}

 {% block content %}

 <body class="d-flex flex-column justify-content-between h-100">
    
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Quiz App</h1>
        <p class="fs-5 text-info">La mejor aplicación para realizar tus quices del colegio</p>
      </div>

    <div class="container p-4">
        <div class="row justify-content-center">
            <div class=" col-sm-12 col-md-8 col-lg-5 col-xl-4 py-4 " id="auth-container">
              <div class="form-signin container px-5 py-1">
                <form action="{% url 'user:login' %}" method="post">
                            
                    {% csrf_token %} <!--token for secure auntenticated -->

                    <h1 class="h3 mb-3 fw-normal">Ingresa tus datos</h1>
                    <div class="form-floating">
                        <input class="form-control" type="text" placeholder="Username" name="username" />
                        <label for="floatingInput">Usuario</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="password" placeholder="Password" name="password" />
                        <label for="floatingInput">Contraseña</label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                        <input type="checkbox" value="remember-me"> Recuerdame
                        </label>
                    </div>

                    <input type="hidden" name="next" value="">

                <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
                <p class="mt-4">
                  ¿No tienes una cuenta aún? <a href="{% url 'user:signup' %}"> Registrate aquí.</a>
                </p>

                </form>

                </div>
              </div>
            </div>
        </div>
 </body>


{% endblock %}